<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
import smoothHeight from 'vue-smooth-height';

export default {
  mixins:[smoothHeight]
}
</script>

<style lang="scss">
@import "@/assets/scss/main.scss";
@import "@/assets/scss/spacing.scss";
</style>
