<template>
    <section class="hero is-dark is-fullheight">
        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="text-center">
                    <img src="/images/icons/icon-384x384.png" />
                </p>
                <h1 class="title">
                    SE DESAPEGA!
                </h1>
                <h2 class="subtitle">
                    <router-link class="linkFake" to="/admin/gerenciar">Em</router-link> breve um aplicativo maneiro para ajudar você a se desapegar daquele <router-link class="linkFake" to="/produtos">item</router-link> do fundo do armário
                </h2>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    data() {
        return {}
    },
    computed: {

    },
    methods: {
        
    }
}
</script>

<style lang="scss">
.linkFake {
    color: #fff;
    text-decoration: none;
    border: 0 none;
}
</style>