<template>
    <div>
        <vs-row vs-type="flex" vs-align="center" vs-justify="space-around" v-if="item">
            <vs-col class="p-md" type="flex" vs-justify="center" vs-align="center" vs-w="12">
                <vs-input class="w-full" label-placeholder="ID interno" v-model="item.id" :disabled="true" />
            </vs-col>
            <vs-col class="p-md" type="flex" vs-justify="center" vs-align="center" vs-sm="12" vs-w="6">
                <vs-input class="w-full" label-placeholder="Nome" v-model="item.name" />
            </vs-col>
            <vs-col class="p-md" type="flex" vs-justify="center" vs-align="center" vs-sm="12" vs-w="6">
                <vs-input class="w-full" label-placeholder="Slug (ID)" v-model="item.slug" :disabled="true" />
            </vs-col>
            <vs-col class="p-md" type="flex" vs-justify="center" vs-align="center" vs-sm="12" vs-w="6">
                <vs-input class="w-full" label-placeholder="Valor" v-model="item.price" type="number" />
            </vs-col>
            <vs-col class="p-md" type="flex" vs-justify="center" vs-align="center" vs-sm="12" vs-w="6">
                <vs-input class="w-full" label-placeholder="WhatsApp (celular)" v-model="item.whatsapp" type="number" />
            </vs-col>
            <vs-col class="p-md" type="flex" vs-justify="center" vs-align="center" vs-sm="12" vs-w="6">
                <vs-input class="w-full" label-placeholder="Facebook (Messenger)" v-model="item.facebook" />
            </vs-col>
            <vs-col class="p-md" type="flex" vs-justify="center" vs-align="center" vs-sm="12" vs-w="6">
                <vs-input class="w-full" label-placeholder="Twitter (ID)" v-model="item.twitter" />
            </vs-col>
            <vs-col class="p-md" type="flex" vs-justify="center" vs-align="center" vs-sm="12" vs-w="6">
                <label>Foto Principal</label>
                <IKContext :publicKey="imagekit.publicKey" :urlEndpoint="imagekit.urlEndpoint">
                    <IKImage :src="item.photo" :transformation="[{height:200}]" style="max-height: 200px;" />
                </IKContext>
            </vs-col>
            <vs-col class="p-md" type="flex" vs-justify="center" vs-align="center" vs-sm="12" vs-w="6" v-if="false">
                <label>Foto Principal</label>
                <IKContext :publicKey="imagekit.publicKey" :urlEndpoint="imagekit.urlEndpoint" :authenticationEndpoint="imagekit.authenticationEndpoint">
                    <IKUpload :onError="onErrorMain" :onSuccess = "onSuccessMain"/>
                </IKContext>
            </vs-col>
            <vs-col class="p-md" type="flex" vs-w="12">
                <wysiwyg v-model="item.description" />
            </vs-col>
        </vs-row>
        <vs-row vs-type="flex" vs-justify="flex-end" vs-align="flex-end" v-if="item" style="width: inherit; float: right;">
            <vs-col class="p-md" type="flex" vs-w="12">
                <vs-button type="gradient" @click="save()"><b-icon icon="save" pack="fas" size="is-small" class="m-r-sm"></b-icon>Salvar</vs-button>
            </vs-col>
        </vs-row>
    </div>
</template>

<script>
import slugGenerator from '../helpers/slug-generator'
import { IKImage, IKContext, IKUpload } from "imagekitio-vue" // eslint-disable-line

export default {
    components: { IKImage,  IKContext, IKUpload }, // eslint-disable-line
    props: ['item'],
    data() {
        return {
            imagekit: {
                urlEndpoint: process.env.VUE_APP_IMAGEKIT_URLENDPOINT,
                publicKey: process.env.VUE_APP_IMAGEKIT_PUBLICKEY,
                authenticationEndpoint: process.env.VUE_APP_API_URL+'Manage/ImagekitAuth',
                path: 'sedesapega'
            },
            colors: {
                whatsapp: '#4cac23',
                twitter: '#1ca3f3',
                facebook: '#4464b3'
            },
            defaultLink: 'https://sedesape.ga/produtos/:id',
        }
    },
    computed: {
        title: function() {
            return this.item.name + ' | SE DESAPEGA!'
        }
    },
    methods: {
        save: function() {
            var vm = this
            this.$http.post('Manage/Save', this.item).then(response => { // eslint-disable-line
                vm.$vs.notify({title:'Sucesso!',text:'Editado com sucesso!',color:'success'})
                vm.item.viewmore = false
                vm.$emit('refresh-list', null)
            }).catch(err => {
                console.error('Erro GET', err.response)
            })
        },
        changeSlug: function(evt) {
            console.log(evt)
        },
        onErrorMain(err) {
            console.log("Error", err);
        }, 
        onSuccessMain(res) {
        console.log("Success", res);
        },
    },
    watch: {
        'item.name': function(newVal) {
            // this.item.slug = newVal.toLowerCase().replace(/ /gi, '-')
            this.item.slug = slugGenerator(newVal)
        },
        '$route': {
            handler(to, from) { // eslint-disable-line
                if (this.item.name && this.item.name !== '') {
                    document.title = this.title
                    // document.title = (this.item.name ? this.item.name + ' | SE DESAPEGA!' : to.meta.title)
                }
            },
            immediate: true
        }
    }
}
</script>

<style lang="scss">
.w-full {
    width: 100%;
}
</style>