<template>
    <section class="hero">
        <div class="hero-body">
            <div class="container is-fullheight">
                <vs-row vs-justify="center">
                    <vs-col class="p-smd" type="flex" vs-justify="center" vs-align="center" vs-sm="12" vs-w="12">
                        <vs-card class="cardx">
                            <div slot="header">
                                <h1> Gerenciar anúncios </h1>
                            </div>
                            <div slot="extra-content">
                                <vs-table class="p-md" pagination max-items="10" search :data="products">
                                    <!-- <template slot="header">
                                        <h3>Anúncios</h3>
                                    </template> -->

                                    <template slot="thead">
                                        <vs-th>Foto Principal</vs-th>
                                        <vs-th>ID</vs-th>
                                        <vs-th>Produto</vs-th>
                                        <vs-th>Slug</vs-th>
                                        <vs-th>Valor</vs-th>
                                        <vs-th>Ação</vs-th>
                                    </template>

                                    <template slot-scope="{data}">
                                        <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" >
                                            <vs-td>
                                                <IKContext :publicKey="imagekit.publicKey" :urlEndpoint="imagekit.urlEndpoint">
                                                    <IKImage :src="data[indextr].photo" :transformation="[{height:200}]" style="max-height: 100px;" />
                                                </IKContext>
                                            </vs-td>
                                            <vs-td> {{data[indextr].id}} </vs-td>
                                            <vs-td> {{data[indextr].name}} </vs-td>
                                            <vs-td> {{data[indextr].slug}} </vs-td>
                                            <vs-td> {{data[indextr].price | currency('R$', 2, { decimalSeparator: ',' })}} </vs-td>
                                            <vs-td> <vs-button @click="openPopup(tr)"><b-icon icon="edit" pack="fas" size="is-small" class="m-r-sm"></b-icon>EDITAR</vs-button> </vs-td>
                                        </vs-tr>
                                    </template>
                                </vs-table>
                            </div>
                            <!-- <div slot="footer">
                                <vs-row vs-justify="flex-end">
                                    <vs-button class="m-r-xs" color="primary" type="gradient" >View</vs-button>
                                    <vs-button color="danger" type="gradient">Delete</vs-button>
                                </vs-row>
                            </div> -->
                        </vs-card>
                    </vs-col>
                </vs-row>
                <vs-popup ref="popupEdit" class="product-detail" :title="selectedItem.name" :active.sync="selectedItem.viewmore">
                    <router-view :item="selectedItem" :key="$route.path" @refresh-list="get"></router-view>
                    <!-- <ProdutosDetail :item="selectedItem"></ProdutosDetail> -->
                </vs-popup>
            </div>
        </div>
    </section>
</template>

<script>
import { IKImage, IKContext, IKUpload } from "imagekitio-vue" // eslint-disable-line

export default {
    components: {
        IKImage,
        IKContext,
        IKUpload // eslint-disable-line
    },
    data() {
        return {
            imagekit: {
                urlEndpoint: process.env.VUE_APP_IMAGEKIT_URLENDPOINT,
                publicKey: process.env.VUE_APP_IMAGEKIT_PUBLICKEY,
                authenticationEndpoint: process.env.VUE_APP_API_URL+'Manage/ImagekitAuth',
                path: 'sedesapega'
            },
            products: [],
            selectedItem: { name: '', viewmore: false },
            colors: {
                whatsapp: '#4cac23',
                twitter: '#1ca3f3',
                facebook: '#4464b3'
            }
        }
    },
    computed: {

    },
    methods: {
        get: function() {
            var vm = this
            this.$http.get('Product/List').then(response => {
                this.products = response.data.data
                console.log('products', this.products)

                this.products.forEach(f => {
                    this.$set(f, 'expanded', false)
                    this.$set(f, 'viewmore', false)
                    this.$set(f, 'viewgallery', false)
                })

                if(vm.$route.params.id) {
                    var item = vm._.find(vm.products, function(o) { return o.slug === vm.$route.params.id })
                    if(item) {
                        item.viewmore = true
                        vm.selectedItem = item
                    } else {
                        vm.$router.push('/admin/gerenciar')
                    }
                }
            }).catch(err => {
                console.error('Erro GET', err.response)
            })
        },
        openPopup: function(item) {
            item.viewmore = true
            this.selectedItem = JSON.parse(JSON.stringify(item))
            this.$router.push('/admin/gerenciar/'+item.slug)
        }
    },
    mounted() {
        this.get()
        window.thisVue = this
    },
    watch: {
        selectedItem: {
            handler(newVal) {
            if(newVal.viewmore === false)
                // this.selectedItem = { name: '', viewmore: false }
                this.$router.push('/admin/gerenciar')
            },
            deep: true
        },
        // '$route': {
        //     handler(to, from) { // eslint-disable-line
        //         document.title = (this.selectedItem.name ? this.selectedItem.name + ' | SE DESAPEGA!' : to.meta.title)
        //     },
        //     immediate: true
        // } 
    }
}
</script>

<style lang="scss">
// .rounded-borders-img {
//     border-top-left-radius: 2rem;
//     border-top-right-radius: 2rem;
// }

.rounded-borders-img {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.rounded-borders {
    border-radius: 2rem;
}

.card-footer-item.extra {
    height: 2rem;
}

.card-footer-item.btn-left {
    border-bottom-left-radius: 2rem;
}

.card-footer-item.btn-right {
    border-bottom-right-radius: 2rem;
    background-color: #ef6767;
    color: #fff;
}

/* Vuesax */
.rounded-borders-img-card {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-footer-vs-item {
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.card-footer-vs-item.border-left-twitter {
    border-left: 1px #0085d4;
    border-style: solid;
}

.card-footer-vs-item.border-right-twitter {
    border-right: 1px #0085d4;
    border-style: solid;
}

.card-footer-vs-item.extra {
    height: 2rem;
}

.card-footer-vs-item.btn-left {
    border-bottom-left-radius: 8px;
}

.card-footer-vs-item.btn-right {
    border-bottom-right-radius: 8px;
}

/* Vuesax Card MediaTitle */
.cardx .media-left {
    float: left;
}

/* Colors */

.whatsapp {
    background-color: #1EBEA5;
    color: #fff;
}

.twitter {
    background-color: #4099FF;
    color: #fff;
}

.facebook {
    background-color: #0099FF;
    color: #fff;
}

.columns {
    flex-wrap: wrap;
}

.card-footer.no-border {
    border-top: 0;
}

.card-footer-item:not(:last-child) {
    border-right: 0;
}

/* Animations */

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all .5s ease-in-out;  
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

/* Vuesax Popup */

.product-detail .vs-popup--content {
    margin: 0;
    padding: 0;
    width: 100%;
}

.product-detail .media-content {
    text-align: center;
}

.pdbuttons {
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.pdbuttons.border-left-twitter {
    border-left: 1px #0085d4;
    border-style: solid;
}

.pdbuttons.border-right-twitter {
    border-right: 1px #0085d4;
    border-style: solid;
}

.pdbuttons.up-left {
    border-top-left-radius: 8px;
}

.pdbuttons.up-right {
    border-top-right-radius: 8px;
}

.pdbuttons.down-left {
    border-bottom-left-radius: 8px;
}

.pdbuttons.down-right {
    border-bottom-right-radius: 8px;
}

/* Card Tips */
.vs-card--content .headerTips {
    position: absolute;
    margin-top: -27.5vh;
    margin-left: 4vh;
    width: 2.5vh;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 150%;
    font-weight: 600;
}
</style>