<template>
    <vs-row vs-type="flex" vs-align="center" vs-justify="space-around" v-if="item">
        <vs-col type="flex" vs-w="12">
            <b-carousel :indicator="!item.viewgallery" :indicator-inside="false" :pause-info="false" with-carousel-list :overlay="item.viewgallery">
                <b-carousel-item v-for="(photo, idx) in item.photoList" :key="idx">
                    <!-- <span class="image">
                        <img loading="lazy" :src="photo.image">
                    </span> -->
                    <figure @click="switchGallery(item, true)" class="image">
                        <img  :src="photo.image">
                    </figure>
                </b-carousel-item>
                <span v-if="item.viewgallery" @click="switchGallery(item, false)" class="modal-close is-large"/>
                <template slot="indicators" slot-scope="props">
                    <div class="tete">
                    <span class="al image">
                        <img :src="item.photoList[props.i].image" :title="item.photoList[props.i].caption">
                    </span>
                    </div>
                </template>
                <template slot="overlay">
                    <div class="has-text-centered has-text-white">
                        <!-- {{item.photoList[props.i].caption}} -->
                    </div>
                </template>
            </b-carousel>
        </vs-col>
        <vs-col class="p-smd" type="flex" vs-justify="center" vs-align="center" vs-sm="12" vs-w="6">
            <div class="media-content">
                <p class="subtitle is-6">Anúncio criado por <b>{{ /*item.user.name*/ 'Lucas' }}</b> em <b>{{ item.dateCreated | moment('DD/MM/YYYY') }}</b></p>
                <p>&nbsp;</p>
                <p class="title is-4">{{ item.name }}</p>
                <p class="subtitle is-6">{{ item.price | currency('R$', 2, { decimalSeparator: ',' }) }}</p>
            </div>
        </vs-col>
        <vs-col class="p-smd" type="flex" vs-justify="center" vs-align="center" vs-sm="12" vs-w="6">
            <vs-row vs-justify="center">
                <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="6">
                    <vs-button :color="colors.whatsapp" class="pdbuttons up-left" type="filled" target :href="'https://wa.me/'+item.whatsapp+'?text='+mountShareMessage(item.id)" :disabled="!item.whatsapp">
                        <b-icon icon="whatsapp" pack="fab" size="is-small" class="m-r-sm"></b-icon>Chamar no WhatsApp
                    </vs-button>
                </vs-col>
                <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="6">
                    <vs-button :color="colors.facebook" class="pdbuttons up-right" type="filled" target :href="'https://m.me/'+item.facebook+'?text='+mountShareMessage(item.id)" :disabled="!item.facebook">
                        <b-icon icon="facebook" pack="fab" size="is-small" class="m-r-sm"></b-icon>Chamar no Facebook
                    </vs-button>
                </vs-col>
            </vs-row>
            <vs-row vs-justify="center">
                <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="6">
                    <vs-button :color="colors.twitter" class="pdbuttons border-right-twitter" type="filled" target :href="mountTwitterTweetLink(item)">
                        <b-icon icon="twitter" pack="fab" size="is-small" class="m-r-sm"></b-icon>Compartilhar por tweet
                    </vs-button>
                </vs-col>
                <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="6">
                    <vs-button :color="colors.twitter" class="pdbuttons" type="filled" target :href="mountTwitterDMLink(item)" :data-screen-name="'@'+item.twitter" :disabled="!item.twitter">
                        <b-icon icon="twitter" pack="fab" size="is-small" class="m-r-sm"></b-icon>Chamar por DM
                    </vs-button>
                </vs-col>
            </vs-row>
            <vs-row vs-justify="center">
                <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="12">
                    <vs-button style="color: #000" color="warning" class="pdbuttons down-left down-right" type="filled" @click="shareTextButton(item)">
                        <b-icon icon="share-square" pack="fas" size="is-small" class="m-r-sm"></b-icon>Compartilhar
                    </vs-button>
                </vs-col>
            </vs-row>
        </vs-col>
        <vs-col class="p-md" type="flex" vs-w="12" v-html="item.description"></vs-col>
    </vs-row>
</template>

<script>
export default {
    props: ['item'],
    data() {
        return {
            colors: {
                whatsapp: '#4cac23',
                twitter: '#1ca3f3',
                facebook: '#4464b3'
            },
            al: {
                hasGrayscale: true,
                itemsToShow: 2,
                breakpoints: {
                    768: {
                        hasGrayscale: false,
                        itemsToShow: 4
                    },
                    960: {
                        hasGrayscale: true,
                        itemsToShow: 6
                    }
                }
            },
            defaultShareMessage: 'Olha esse produto que eu vi no sedesape.ga, veja se te interessa.',
            defaultTweetMessage: 'tá desapegando desse item. Se alguém tiver interesse...',
            defaultDMMessage: 'Olá, vi que está desapegando desse item e tenho interesse. Ainda está disponível?',
            // defaultLink: 'https://localhost:8080/produtos/:id',
            defaultLink: 'https://sedesape.ga/produtos/:id',
        }
    },
    computed: {
        title: function() {
            return this.item.name + ' | SE DESAPEGA!'
        }
    },
    methods: {
        mountTwitterTweetLink: function(item) {
            return encodeURI('https://twitter.com/intent/tweet?screen_name='+item.twitter+'&text='+this.mountTweetMessage(item.slug)+'&ref_src=sedesape.ga')
        },
        mountTwitterDMLink: function(item) {
            return encodeURI('https://twitter.com/messages/compose?recipient_id='+item.twitter+'&text='+this.mountDMMessage(item.slug))
        },
        mountTweetMessage: function(id) {
            return this.defaultTweetMessage + ' ' + this.defaultLink.replace(':id', id)
        },
        mountDMMessage: function(id) {
            return this.defaultDMMessage + ' ' + this.defaultLink.replace(':id', id)
        },
        mountShareMessage: function(id) {
            return this.defaultShareMessage + ' ' + this.defaultLink.replace(':id', id)
        },
        shareTextButton: function(item) {
            if (navigator.share) {
                navigator.share({
                    title: this.title,
                    text: this.defaultShareMessage,
                    url: this.defaultLink.replace(':id', item.id),
                })
                .then(() => console.log('Successful share'))
                .catch((error) => console.log('Error sharing', error))
            }
        },
        switchGallery(item, value) {
            item.viewgallery = value
            if (value) {
                return document.documentElement.classList.add('is-clipped')
            } else {
                return document.documentElement.classList.remove('is-clipped')
            }
        }
    },
    watch: {
      '$route': {
            handler(to, from) { // eslint-disable-line
                if (this.item.name && this.item.name !== '') {
                    document.title = this.title
                    // document.title = (this.item.name ? this.item.name + ' | SE DESAPEGA!' : to.meta.title)
                }
            },
            immediate: true
        }
    }
}
</script>

<style lang="scss">
ol {
    padding-left: 3vh;
}
</style>