<template>
    <section class="hero">
        <div class="hero-body">
            <div class="container is-fullheight">
                <vs-row vs-justify="center">
                    <vs-col class="p-smd" type="flex" vs-justify="center" vs-align="center" vs-sm="12" vs-w="4" v-for="(item,index) in products" :key="index">
                        <vs-card class="cardx">
                            <!-- <div slot="header">
                                <h3>
                                    Hello world !
                                </h3>
                            </div> -->
                            <div slot="media">
                                <img loading="lazy" :src="item.photo+'?'+index" class="rounded-borders-img-card">
                            </div>
                            <div>
                                <div class="headerTips twitter">
                                    <b-icon icon="twitter" pack="fab" size="is-small"></b-icon>
                                </div>
                                <!-- <div class="media-left">
                                    <figure class="image is-48x48">
                                    <img loading="lazy" src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                                    </figure>
                                </div> -->
                                <div class="media-content">
                                    <p class="title is-4">{{ item.name }}</p>
                                    <p class="subtitle is-6">{{ item.price | currency('R$', 2, { decimalSeparator: ',' }) }}</p>
                                </div>
                            </div>
                            <div slot="extra-content">
                                <transition-expand>
                                    <vs-row vs-justify="center" v-if="item.expanded" key="footer1">
                                        <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="6">
                                            <vs-button :color="colors.whatsapp" class="card-footer-vs-item" type="filled" target :href="'https://wa.me/'+item.whatsapp" :disabled="!item.whatsapp">
                                                <b-icon icon="whatsapp" pack="fab" size="is-small" class="m-r-sm"></b-icon>Chamar no WhatsApp
                                            </vs-button>
                                        </vs-col>
                                        <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="6">
                                            <vs-button :color="colors.facebook" class="card-footer-vs-item" type="filled" target :href="'https://m.me/'+item.facebook" :disabled="!item.facebook">
                                                <b-icon icon="facebook" pack="fab" size="is-small" class="m-r-sm"></b-icon>Chamar no Facebook
                                            </vs-button>
                                        </vs-col>
                                    </vs-row>
                                </transition-expand>
                                <transition-expand>
                                    <vs-row vs-justify="center" v-if="item.expanded" key="footer2">
                                        <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="6">
                                            <vs-button :color="colors.twitter" class="card-footer-vs-item border-right-twitter" type="filled" target :href="mountTwitterTweetLink(item)">
                                                <b-icon icon="twitter" pack="fab" size="is-small" class="m-r-sm"></b-icon>Compartilhar por tweet
                                            </vs-button>
                                        </vs-col>
                                        <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="6">
                                            <vs-button :color="colors.twitter" class="card-footer-vs-item" type="filled" target :href="mountTwitterDMLink(item)" :data-screen-name="'@'+item.twitter" :disabled="!item.twitter">
                                                <b-icon icon="twitter" pack="fab" size="is-small" class="m-r-sm"></b-icon>Chamar por DM
                                            </vs-button>
                                        </vs-col>
                                    </vs-row>
                                </transition-expand>
                                <transition-expand>
                                    <vs-row vs-justify="center" v-if="item.expanded" key="footer3">
                                        <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="12">
                                            <vs-button style="color: #000" color="warning" class="card-footer-vs-item" type="filled" @click="shareTextButton(item)">
                                                <b-icon icon="share-square" pack="fas" size="is-small" class="m-r-sm"></b-icon>Compartilhar
                                            </vs-button>
                                        </vs-col>
                                    </vs-row>
                                </transition-expand>
                                <vs-row vs-justify="center">
                                    <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="6">
                                        <vs-button class="card-footer-vs-item btn-left" type="gradient" @click="openPopup(item)">
                                            <b-icon icon="search-plus" size="is-small" class="m-r-sm"></b-icon> Ver mais
                                        </vs-button>
                                    </vs-col>
                                    <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="6">
                                        <vs-button color="#ef6767" gradient-color-secondary="#ff3535" class="card-footer-vs-item btn-right" type="gradient" @click="item.expanded = !item.expanded">
                                            <b-icon icon="comments" size="is-small" class="m-r-sm"></b-icon> Tenho interesse
                                        </vs-button>
                                    </vs-col>
                                </vs-row>
                            </div>
                            <!-- <div slot="footer">
                                <vs-row vs-justify="flex-end">
                                    <vs-button class="m-r-xs" color="primary" type="gradient" >View</vs-button>
                                    <vs-button color="danger" type="gradient">Delete</vs-button>
                                </vs-row>
                            </div> -->
                        </vs-card>
                    </vs-col>
                </vs-row>
                <vs-popup ref="popupDetail" class="product-detail" :title="selectedItem.name" :active.sync="selectedItem.viewmore">
                    <router-view :item="selectedItem" :key="$route.path"></router-view>
                    <!-- <ProdutosDetail :item="selectedItem"></ProdutosDetail> -->
                </vs-popup>
            </div>
        </div>
    </section>
</template>

<script>
import TransitionExpand from '../components/TransitionExpand.vue'
// import ProdutosDetail from './ProdutosDetail.vue'

export default {
    components: { TransitionExpand, /*ProdutosDetail*/ },
    data() {
        return {
            products: [],
            selectedItem: { name: '', viewmore: false },
            colors: {
                whatsapp: '#4cac23',
                twitter: '#1ca3f3',
                facebook: '#4464b3'
            },
            defaultShareMessage: 'Olha esse produto que eu vi no sedesape.ga, veja se te interessa.',
            defaultTweetMessage: 'tá desapegando desse item. Se alguém tiver interesse...',
            defaultDMMessage: 'Olá, vi que está desapegando desse item e tenho interesse. Ainda está disponível?',
            // defaultLink: 'https://localhost:8080/produtos/:id',
            defaultLink: 'https://sedesape.ga/produtos/:id',
        }
    },
    computed: {

    },
    methods: {
        get: function() {
            var vm = this
            this.$http.get('Product/List').then(response => {
                this.products = response.data.data
                console.log('products', this.products)

                this.products.forEach(f => {
                    this.$set(f, 'expanded', false)
                    this.$set(f, 'viewmore', false)
                    this.$set(f, 'viewgallery', false)
                })

                if(vm.$route.params.id) {
                    var item = vm._.find(vm.products, function(o) { return o.slug === vm.$route.params.id })
                    if(item) {
                        item.viewmore = true
                        vm.selectedItem = item
                    } else {
                        vm.$router.push('/produtos')
                    }
                }
            }).catch(err => {
                console.error('Erro GET', err.response)
            })
        },
        mountTwitterTweetLink: function(item) {
            return encodeURI('https://twitter.com/intent/tweet?screen_name='+item.twitter+'&text='+this.mountTweetMessage(item.slug)+'&ref_src=sedesape.ga')
        },
        mountTwitterDMLink: function(item) {
            return encodeURI('https://twitter.com/messages/compose?recipient_id='+item.twitter+'&text='+this.mountDMMessage(item.slug))
        },
        mountTweetMessage: function(id) {
            return this.defaultTweetMessage + ' ' + this.defaultLink.replace(':id', id)
        },
        mountDMMessage: function(id) {
            return this.defaultDMMessage + ' ' + this.defaultLink.replace(':id', id)
        },
        mountShareMessage: function(id) {
            return this.defaultShareMessage + ' ' + this.defaultLink.replace(':id', id)
        },
        shareTextButton: function(item) {
            if (navigator.share) {
                navigator.share({
                    title: item.name,
                    text: this.defaultShareMessage,
                    url: this.defaultLink.replace(':id', item.slug),
                })
                .then(() => console.log('Successful share'))
                .catch((error) => console.log('Error sharing', error))
            }
        },
        openPopup: function(item) {
            item.viewmore = true
            this.selectedItem = item
            this.$router.push('/produtos/'+item.slug)
        }
    },
    mounted() {
        this.get()
        window.thisVue = this
    },
    watch: {
        selectedItem: {
            handler(newVal) {
            if(newVal.viewmore === false)
                // this.selectedItem = { name: '', viewmore: false }
                this.$router.push('/produtos')
            },
            deep: true
        },
        // '$route': {
        //     handler(to, from) { // eslint-disable-line
        //         document.title = (this.selectedItem.name ? this.selectedItem.name + ' | SE DESAPEGA!' : to.meta.title)
        //     },
        //     immediate: true
        // } 
    }
}
</script>

<style lang="scss">
// .rounded-borders-img {
//     border-top-left-radius: 2rem;
//     border-top-right-radius: 2rem;
// }

.rounded-borders-img {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.rounded-borders {
    border-radius: 2rem;
}

.card-footer-item.extra {
    height: 2rem;
}

.card-footer-item.btn-left {
    border-bottom-left-radius: 2rem;
}

.card-footer-item.btn-right {
    border-bottom-right-radius: 2rem;
    background-color: #ef6767;
    color: #fff;
}

/* Vuesax */
.rounded-borders-img-card {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-footer-vs-item {
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.card-footer-vs-item.border-left-twitter {
    border-left: 1px #0085d4;
    border-style: solid;
}

.card-footer-vs-item.border-right-twitter {
    border-right: 1px #0085d4;
    border-style: solid;
}

.card-footer-vs-item.extra {
    height: 2rem;
}

.card-footer-vs-item.btn-left {
    border-bottom-left-radius: 8px;
}

.card-footer-vs-item.btn-right {
    border-bottom-right-radius: 8px;
}

/* Vuesax Card MediaTitle */
.cardx .media-left {
    float: left;
}

/* Colors */

.whatsapp {
    background-color: #1EBEA5;
    color: #fff;
}

.twitter {
    background-color: #4099FF;
    color: #fff;
}

.facebook {
    background-color: #0099FF;
    color: #fff;
}

.columns {
    flex-wrap: wrap;
}

.card-footer.no-border {
    border-top: 0;
}

.card-footer-item:not(:last-child) {
    border-right: 0;
}

/* Animations */

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all .5s ease-in-out;  
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

/* Vuesax Popup */

.product-detail .vs-popup--content {
    margin: 0;
    padding: 0;
    width: 100%;
}

.product-detail .media-content {
    text-align: center;
}

.pdbuttons {
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.pdbuttons.border-left-twitter {
    border-left: 1px #0085d4;
    border-style: solid;
}

.pdbuttons.border-right-twitter {
    border-right: 1px #0085d4;
    border-style: solid;
}

.pdbuttons.up-left {
    border-top-left-radius: 8px;
}

.pdbuttons.up-right {
    border-top-right-radius: 8px;
}

.pdbuttons.down-left {
    border-bottom-left-radius: 8px;
}

.pdbuttons.down-right {
    border-bottom-right-radius: 8px;
}

/* Card Tips */
.vs-card--content .headerTips {
    position: absolute;
    margin-top: -27.5vh;
    margin-left: 4vh;
    width: 2.5vh;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>