<template>
    <section class="hero is-fullheight is-default is-bold">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                            <img src="https://picsum.photos/200/100/?random" alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <div class="tabs is-right">
                                <ul>
                                    <li class="is-active"><a>Home</a></li>
                                    <li><a href="">Examples</a></li>
                                    <li><a href="">Features</a></li>
                                    <li><a href="">Team</a></li>
                                    <li><a href="">Help</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        <figure class="image is-4by3">
                            <img src="https://picsum.photos/800/600/?random" alt="Description">
                        </figure>
                    </div>
                    <div class="column is-6 is-offset-1">
                        <h1 class="title is-2">
                            Superhero Scaffolding
                        </h1>
                        <h2 class="subtitle is-4">
                            Let this cover page describe a product or service.
                        </h2>
                        <br>
                        <p class="has-text-centered">
                            <a class="button is-medium is-info is-outlined">
                                Learn more
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="hero-foot">
            <div class="container">
                <div class="tabs is-centered">
                    <ul>
                        <li><a>And this is the bottom</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    data() {
        return {
            products: [],
            array: [1, 2, 3]
        }
    },
    computed: {

    },
    methods: {
        get: function() {
            this.$http.get('Product/List').then(response => {
                this.products = response.data.data
            }).catch(err => {
                console.error('Erro GET', err.response)
            })
        }
    }
}
</script>

<style lang="scss">
// .rounded-borders-img {
//     border-top-left-radius: 2rem;
//     border-top-right-radius: 2rem;
// }

.rounded-borders-img {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.rounded-borders {
    border-radius: 2rem;
}

.card-footer-item.btn-left {
    border-bottom-left-radius: 2rem;
}

.card-footer-item.btn-right {
    border-bottom-right-radius: 2rem;
    background-color: #4099FF;
    color: #fff;
}

.columns {
    flex-wrap: wrap;
}
</style>